{
	email {$CADDY_EMAIL}
}

{$SITE_ADDRESS} {
	encode gzip

	header {
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
		X-Frame-Options DENY
		-Server
	}

	handle /api/* {
		uri strip_prefix /api
		reverse_proxy api:3001
	}

	handle /socket.io* {
		reverse_proxy api:3001
	}

	handle /counter/* {
		root * /srv
		try_files {path} /counter/index.html
		file_server
	}

	handle /admin/* {
		root * /srv
		try_files {path} /admin/index.html
		file_server
	}

	handle {
		root * /srv/www
		try_files {path} {path}.html {path}/index.html /index.html
		file_server
	}
}
